* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.rotate-once {
  animation: spinOnce 0.3s ease-in-out;
}

@keyframes spinOnce {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-transition {
  transition: transform 0.2s;
}
